
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    
}
  
/* css body */
body {
    margin: 0;
    padding: 0;
    background-image: url('/tickets/static/img/george-vogiatzis-ZhDf3Y1OlQU-unsplash.jpg');
    background-size: cover;

}

body::before{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    min-height: 100%;  
    width: 100%;
    z-index: -1;
    
}

/* encabezados y titulos */
.div-encabezado{
    width: 900px;
    padding: 50px;
    margin: 50px;
    margin: auto;
    
}

.titulo{
    color: white;
    text-align: center;
    border-bottom: 3px solid rgba(108, 26, 146);
}

.subtitulo{
    color: white;
    text-align: center;
    margin-top: 35px;
    font-style: italic;
}

/* Reservar tickets */
.reservar_tickets{
    display: flex;
    align-items: center;
}

.Rtickets{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    background: rgb(108, 26, 146);
    margin-bottom: 50px;

}

.titulo2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 3px 3px black;
    margin-top: 0;
}

.select-container{
   display: flex; 
}

.select-container select{
    margin: 30px;
}

/* labels y inputs */

.label{
    padding-top: 10px;
    font-size: 18px;
}

.input{
    padding-top: 10px;
    border: none;
    text-decoration: none;
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
    color: white;
    font-size: 14px;
}

::placeholder{
    color:#ffffffc9;
    font-size: 15px;
}

.Rtickets form{
    display: grid;
    place-items: center;
    color: white;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.button {
    border-color: #FFFFFF;
    margin-top: 20px;
    width: 200px;
    height: 55px;
    background: none;
    border-radius: 11px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border-width: 3px;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
      
.button:hover {
    background: white;
    color: rgba(136, 26, 146);
}

select{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 250px;
}

/* navbar */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    height: 45px;
}


.Menu{
    display: none ;
}

.header .btn button,
.header .Menu button
{
    font-weight: 700;
    color:blueviolet;
    padding: 9px 25px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover,
.header .Menu button:hover{
    background-color:blueviolet;
    color: white;
    transform: scale(1.03);
}



.header .logoImg img{
    height: 60px;
    display: flex;
    cursor: pointer;
    width: auto;
    transition: all 0.3s;
    margin-right: auto;
    
}
:root{
    --main-color:blueviolet;
    --text-color:#020307;
    --bg-color:#fff;
}
.logoImg img:hover{

    transform: scale(1.05);

}

.menu ul{
    list-style: none;
    display: flex;
    padding: 20px 10px;
}
  
.menu li {
    padding-left: 2rem;
    
}
.menu li:hover {
    transform: scale(1.1);
    padding-left: 2rem;
}
.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color:#fff;
  
    
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;

}

.navbar a::after {
   content: "";
    width: 0;
    height: 2px;
    background:var(--main-color);
    position:absolute;
    bottom: 5px;
    left: 10px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;

} 
.navbar a:hover::after {
    width: 100%;
    transform: scale(1, 1);
}

a{
    text-decoration: none;
}
.header .overlay{
    color: black;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:rgba(11, 11, 11, 0.95) ;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: white;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color:blueviolet;
}
.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}


/* media query y responsive */

@media screen and (max-width: 800px) {
    .div-encabezado {
        width: 100%;
        margin: 20px 0;
        padding: 20px;
    }

    .Rtickets {
        width: 100%;
        left: 0;
        margin-top: 20px;
    }

    
}

@media screen and (max-height:450px){
    
    .header .overlay a{
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media screen and (max-width: 800px) {
    .menu, .btn{
        display: none;
    }

    .Menu{
        display: inherit ;
    }
}