@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{

    background-image: url("https://media.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.menu ul{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    padding: 20px 10px;
}
  
.menu li {
    padding-left: 2rem;
    
}
.menu li:hover {
    transform: scale(1.1);
    padding-left: 2rem;
}
.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color:#fff;
    
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;

}


.navbar a::after {
    content: "";
     width: 0;
     height: 2px;
     background:var(--main-color);
     position:absolute;
     bottom: 5px;
     left: 10px;
     transform: scale(0, 1);
     transition: transform 0.3s ease;
 
 } 
 .navbar a:hover::after {
     width: 100%;
 
     transform: scale(1, 1);
 }

.header .logoImg img{
    height: 60px;
    display: flex;
    cursor: pointer;
    width: auto;
    transition: all 0.3s;
    margin-right: auto;

}
:root{
    --main-color:blueviolet;
    --text-color:#020307;
    --bg-color:#fff;
}
.logoImg img:hover{

    transform: scale(1.05);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    height: 45px;

  }

.header .btn button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:blueviolet;
    padding: 9px 25px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover{
    background-color:blueviolet;
    color: white;
    transform: scale(1.03);
}

#snackBar{
    position: relative;
    width: 100%;
    align-items: center;

}

#snackBar img{
    width: 100%;
    height: 35rem;
    position: relative;

}

.titulo{
    margin-left: 2rem;
    bottom: 30rem;
    position: relative;

    

}
.titulo h1, h2{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    font-size: 5rem;
    text-shadow: 2px 2px 20px #1A0B07;
    
}

.titulo button{
    width: 13rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: rgb(203, 53, 158);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    box-shadow: 2px 2px 20px #03174d;

}

.titulo button:hover{
    background-color: rgb(129, 25, 97);
}

.menu-snacks{
    width: 28rem;
    margin-left: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 15rem;
}

.menu-snacks ul{
    list-style: none;
    display: flex;
}
   
.menu-snacks li{
    color: white;
    font-size: 15px;
    padding-right: 3rem;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

.menu-snacks li:hover{
    text-decoration: underline rgb(220, 20, 160);
    text-decoration-thickness: 5px;
}

.menu-snacks li a{
    text-decoration: none;
    color: white;
}

#img-container-palomitas{
    position: relative;
    display: flex;
    bottom: 9rem;
}

#img-container-palomitas img{
    margin: auto;
}

.popCorn1{
    width: 13rem;
    height: 10rem;
}

.popCorn2{
    width: 13rem;
    height: 10rem;
}

.popCorn3{
    width: 13rem;
    height: 10rem;
}

.popCorn1-title{
    margin-bottom: 8rem;
    margin-right: 3rem;
}

.popCorn1-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);
}

.popCorn2-title{
    margin-bottom: 8rem;
    margin-right: 3rem;
}

.popCorn2-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.popCorn3-title{
    margin-bottom: 8rem;
    margin-right: 5rem;
}

.popCorn3-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.popCorn1-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(20, 127, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.popCorn2-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(20, 127, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.popCorn3-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(20, 127, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

#img-container-palomitas button:hover{
    background-color: rgba(199, 32, 85, 0.874);
    color: white;
}

#img-container-bebidas{
    position: relative;
    display: flex;
    bottom: 2rem;
    
}

#img-container-bebidas img{
    margin: auto;
    
}

.drink1 {
    width: 12rem;
    height: 12rem;
}


.drink2 {
    width: 11rem;
    height: 12rem;
}

.drink3{
    width: 11rem;
    height: 12rem;
}

.drink1-title{
    margin-bottom: 8rem;
    margin-right: 8rem;
}

.drink1-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);
}

.drink2-title{
    margin-bottom: 8rem;
    margin-right: 3rem;
}

.drink2-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.drink3-title{
    margin-bottom: 8rem;
    margin-right: 5rem;
}

.drink3-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.drink1-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(97, 20, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.drink2-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(97, 20, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.drink3-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(97, 20, 220);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

#img-container-bebidas button:hover{
    background-color: rgba(199, 32, 85, 0.874);
    color: white;
}

#img-container-hotdogs{
    position: relative;
    display: flex;
    top: 4rem;
    
}

#img-container-hotdogs img{
    margin: auto;
    
}

.hotdog1 {
    width: 12rem;
    height: 12rem;
}


.hotdog2 {
    width: 11rem;
    height: 12rem;
}

.hotdog3{
    width: 10rem;
    height: 10rem;
}

.hotdog1-title{
    margin-bottom: 8rem;
    margin-right: 8rem;
}

.hotdog1-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);
}

.hotdog2-title{
    margin-bottom: 8rem;
    margin-right: 3rem;
}

.hotdog2-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.hotdog3-title{
    margin-bottom: 8rem;
    margin-right: 5rem;
}

.hotdog3-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.hotdog1-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(137, 12, 129);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.hotdog2-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(137, 12, 129);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.hotdog3-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(137, 12, 129);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

#img-container-hotdogs button:hover{
    background-color: rgba(199, 32, 85, 0.874);
    color: white;
}


/*hey*/
#img-container-nachos{
    position: relative;
    display: flex;
    top: 10rem;
    
}

#img-container-nachos img{
    margin: auto;
    padding-bottom: 2rem;
    
}

.nachos1 {
    width: 11rem;
    height: 12rem;
}


.nachos2 {
    width: 11rem;
    height: 12rem;
}

.nachos3{
    width: 10rem;
    height: 10rem;
}

.nachos1-title{
    margin-bottom: 8rem;
    margin-right: 10rem;
}

.nachos1-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);
}

.nachos2-title{
    margin-bottom: 8rem;
    margin-right: 3rem;
}

.nachos2-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.nachos3-title{
    margin-bottom: 8rem;
    margin-right: 5rem;
}

.nachos3-title h3{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 20px #ff1818, 0 0 30px #ff1818, 0 0 40px #ff1818, 0 0 75px #ff1818, 6px 5px 20px rgba(206,0,0,0);

}

.nachos1-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(19, 173, 99);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.nachos2-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(19, 173, 99);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    
}

.nachos3-title button{
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border: none;
    background-color: rgb(19, 173, 99);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

#img-container-nachos button:hover{
    background-color: rgba(199, 32, 85, 0.874);
    color: white;
}

/*Responsive*/

@media only screen and (max-width: 800px) {
    /* Estilos para pantallas menores o iguales a 800px */
    body {
        background-image: url("https://media.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
  
    .titulo {
      bottom: 30rem;
    }
  
    .menu-snacks {
        width: 28rem;
        margin-left: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 15rem;
    }

    #snackBar img{
        width: 61rem;
        height: 35rem;
        position: relative;
    }

    #img-container-palomitas img{
        margin: auto;
        display: flex;
    }

  }


@media only screen and (max-width: 1000px) {
    /* Estilos para pantallas menores o iguales a 900px */
    body {
        background-image: url("https://media.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #snackBar img{
        width: 100%;
        height: 35rem;
        position: relative;
    
    }
  
    .titulo {
      bottom: 30rem;
    }
  
    .menu-snacks {
        width: 28rem;
        margin-left: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 15rem;
    }

    #snackBar img{
        width: 61rem;
        height: 35rem;
        position: relative;
    }

    #img-container-palomitas img{
        margin: auto;
        display: flex;
    }

  }
  
@media only screen and (max-width: 500px) {
    /* Estilos para pantallas menores o iguales a 500px */
    body {
        background-image: url("https://media.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .titulo {
      bottom: 30rem;
    }

    .titulo h1, h2{
        font-size: 70px;
    }
  
    .menu-snacks {
        display: none;
    }

    #snackBar img{
        width: 61rem;
        height: 35rem;
        position: relative;
    }

    #img-container-palomitas{
        position: relative;
        display: flex;
        bottom: 9rem;
    }

    .popCorn1,
    .popCorn2,
    .popCorn3{
        width: 13rem;
        height: 10rem;
    
    }

    #img-container-palomitas img{
        margin: auto;
    }
    
    
  }

@media only screen and (max-width: 390px) {
    /* Estilos para pantallas menores o iguales a 390px */
    body {
        background-image: url("https://media.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .titulo {
      bottom: 30rem;
    }

    .titulo h1, h2{
        font-size: 65px;
    }


    .menu-snacks {
        display: none;
    }

    #snackBar img{
        width: 61rem;
        height: 35rem;
        position: relative;
    }

    #img-container-palomitas{
        position: relative;
        display: flex;
        bottom: 15rem;
    }

    #img-container-bebidas{
        bottom: 9rem;
    }

    #img-container-hotdogs{
        top: 2rem;
    }

    .popCorn1,
    .popCorn2,
    .popCorn3{
        width: 13rem;
        height: 10rem;
    
    }

    #img-container-palomitas img{
        margin: auto;
    }
    
    
  }